/* modification empruntée à https://github.com/themefisher/timer-hugo/blob/master/static/css/style.css */

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    color: #fff;
    transition: all 0.2s ease-out 0s;
    padding: 15px 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #dedede;
    z-index: 10;
}

.tag {
    background: #3F51B5;
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
}

.tagVideo {
    background: #F44336;
}

.tagBook {
    background: #795548;
}

.tagCourse {
    background: #673AB7;
}

.top-bar.animated-header {
    padding: 20px 0;
    background: #fff;
    box-shadow: none;
}

.navigation .navbar-nav>li>span {
    color: #fff;
    font-size: 15px;
    line-height: 26px;
    padding-top: 20px !important;
    transition: .2s ease-in-out 0s;
}

.lang {
    text-transform: uppercase
}

.lang.selected {
    color: white;
    font-weight: bold;
}

a.lang {
    color: #666;
}