{{ if .Site.Params.cta.enable }}
{{ "<!-- Start Call To Action -->" | safeHTML }}

<style scoped>
    .call-to-action {
            background:
                linear-gradient(
                rgba(0, 0, 0, 0.7), 
                rgba(0, 0, 0, 0.7)
                ),
                url("{{ .Site.Params.cta.bg | absURL }}");
                background-size:cover;
                background-position: center center;
        }
    </style>

<section class="call-to-action section">
    <div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				{{ with .Site.Params.cta.title }}<h2>{{ . }}</h2>{{ end }}
                {{ with .Site.Params.cta.subtitle }}<p>{{ . | safeHTML }}</p>{{ end }}
				<a href="{{ with .Site.Params.cta.btnURL }}{{.}}{{ end }}" target="_blank" class="btn btn-main">{{ with .Site.Params.cta.btnText }}{{.}}{{ end }}</a>
			</div>
		</div>
	</div>
</section>
{{ "<!-- Start Call To Action -->" | safeHTML }}
{{ end }}
