{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer" class="footer-bottom">
        <div class="container">
                <div class="row" >
                    <div class="col-md-9">
                        <p>{{ .Site.Params.footerLicensePre }}<a href="{{ .Site.Params.footerLicenseLink }}" target="blank">{{ .Site.Params.footerLicenseLinkText }}</a>{{ .Site.Params.footerLicensePost }}</p>
                    </div>
                    <div class="col-md-3">
                            <p>emparent@pm.me</p>
                    </div>
                </div>
            </div>
</footer>
{{ "<!-- end footer -->" | safeHTML }}


{{ "<!-- Essential Scripts -->" | safeHTML }}

{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "plugins/jquery/dist/jquery.min.js" | absURL }}"></script>
{{ "<!-- Bootstrap -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/dist/js/popper.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/dist/js/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- Parallax -->" | safeHTML }}
<script src="{{ "plugins/parallax/jquery.parallax-1.1.3.js" | absURL }}"></script>
{{ "<!-- lightbox -->" | safeHTML }}
<script src="{{ "plugins/lightbox2/dist/js/lightbox.min.js" | absURL }}"></script>
{{ "<!-- Slick Carousel -->" | safeHTML }}
<script src="{{ "plugins/slick-carousel/slick/slick.min.js" | absURL }}"></script>
{{ "<!-- Portfolio Filtering -->" | safeHTML }}
<script src="{{ "plugins/mixitup/dist/mixitup.min.js" | absURL }}"></script>
{{ "<!-- Smooth Scroll js -->" | safeHTML }}
<script src="{{ "plugins/smooth-scroll/dist/js/smooth-scroll.min.js" | absURL }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
{{ "<!-- Custom js -->" | safeHTML }}
<script src="{{ "js/script.js" | absURL }}"></script>

</body>

</html>
