<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{{ with .Site.Params.meta.description }}{{.}}{{ end }}">
<meta name="author" content="Miroslav Mazel">
{{ .Hugo.Generator }}

<title>{{ .Site.Title }}</title>

{{ "<!-- Mobile Specific Meta -->" | safeHTML }}
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ "<!-- Favicon -->" | safeHTML }}
<link rel="shortcut icon" type="image/x-icon" href="{{ "images/favicon.png" | absURL }}" />

{{"<!-- Stylesheets -->" | safeHTML}}
{{ "<!-- Themefisher Icon font -->" | safeHTML }}
<link rel="stylesheet" href="{{ "plugins/themefisher-font/style.css" | absURL }}">
{{ "<!-- bootstrap.min css -->" | safeHTML}}
<link rel="stylesheet" href="{{ "plugins/bootstrap/dist/css/bootstrap.min.css" | absURL }}">
{{ "<!-- Lightbox.min css -->" | safeHTML }}
<link rel="stylesheet" href="{{ "plugins/lightbox2/dist/css/lightbox.min.css" | absURL }}">
{{ "<!-- Slick Carousel -->" | safeHTML }}
<link rel="stylesheet" href="{{ "plugins/slick-carousel/slick/slick.css" | absURL }}">
<link rel="stylesheet" href="{{ "plugins/slick-carousel/slick/slick-theme.css" | absURL }}">
{{ "<!-- Main Stylesheet -->" | safeHTML }}

<!-- gestion de la personalisation de la css du theme -->
{{ $style_original := resources.Get "css/style_original.css" }}
{{ $style_site     := resources.Get "css/my_style.css" }}
{{ $style := slice $style_original $style_site | resources.Concat "css/style.css" | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
<!-- <link rel="stylesheet" href="{{ "css/style.css" | absURL }}"> -->

</head>

<body id="body">
