{{ if .Site.Params.heroimage.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
<style scoped>
    .hero-area {
        background-image: url("{{ .Site.Params.heroimage.bg | absURL }}");
        background-size:cover; 
    }
    @media (max-width: 768px) {
        .hero-area {
            background:
                linear-gradient(
                rgba(0, 0, 0, 0.7), 
                rgba(0, 0, 0, 0.7)
                ),
                url("{{ .Site.Params.heroimage.bg | absURL }}");
                background-size:cover;
                background-position: center center;
        }
    }
    </style>

<section class="hero-area">
    <div class="container" id="hero-container">
        <div class="row" >
            <div class="col-md-6">
                <div class="block">
                    {{ with .Site.Params.heroimage.heading }}
                        <h2>{{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.heroimage.description }}
                        <p>{{ . }}</p>
                    {{ end }}
                    {{ if .Site.Params.heroimage.button }}
                        <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                            <li class="list-inline-item">
                                <a href="{{ with .Site.Params.heroimage.btnURL }}{{.}}{{ end }}" target="_blank" class="btn btn-main">{{ with .Site.Params.heroimage.btnText }}{{.}}{{ end }}</a>
                            </li>
                        </ul>
                    {{ end }}
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</section>
{{ end }}