{{ "<!-- Fixed Navigation -->" | safeHTML }}
<!-- <section class="top-bar animated-header"> emprunt depuis timer theme -->
{{ if .Site.Params.menufixed }}
    <section class="header navigation top-bar animated-header">
{{ else }}
    <section class="header navigation">
{{ end }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                        <img src="{{ with .Site.Params.logo }}{{ . | absURL }}{{ end }}" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="tf-ion-android-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            {{ range .Site.Menus.nav }}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ .URL | absLangURL }}">{{ i18n .Name }}</a>
                            </li>
                            {{ end }}
                            {{ range .Site.Menus.navblank }}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ .URL | absLangURL }}" target="_blank">{{ i18n .Name }}</a>
                            </li>
                            {{ end }}
                            <li>
                                    <div style="width:1px; height: 33px; background: #f0326b; margin: 16px">
                                </li>
                            {{ range .Site.Params.listeLangues }}
                               {{ partial "flags.html" (dict "site" $.Site "liste" .) }}
                            {{ end }}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
