{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.workingprocess }}
    {{ if .enable }}
    {{ "<!-- Work Process Section Start -->" | safeHTML }}
    <section class="service-2 section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}
                            <h4>{{ . }}</h4>
                        {{ end }}
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                            <span class="border"></span>
                        {{ end }}
                        {{ with .subtitle }}
                            <p>{{ . }}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {{ range $index,  $element:= .item }}
                    <div class="col-md-4 col-sm-6 p-0">
                        <div class="service-item text-center">
                            <!-- {{ with .number }}
                                <span class="count">{{ . }}.</span>
                            {{ end }}
                            {{ with .icon }}
                                <i class="{{ . }}"></i>
                            {{ end }} -->
                            {{ with .number }}
                                <i style="font-style:normal;">{{ . }}</i>
                            {{ end }}
                            {{ with .title }}
                                <h4>{{ . }}</h4>
                            {{ end }}
                            {{ with .description }}
                                <p>{{ . }}</p>
                            {{ end }}
                        </div>
                    </div>
                    {{ if eq (mod $index 2) 1 }}
                        <div class="w-100"></div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
    {{ "<!-- Work Process section end -->" | safeHTML }}
    {{ end }}
{{ end }}
