{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

{{ partial "page-title.html" . }}

{{ "<!-- Blog Section Start -->" | safeHTML }}
<section class="blog section" id="blog">
    <div class="container">
        <div class="row">
            {{ range (.Paginator 6).Pages }}
            {{ "<!-- single resource -->" | safeHTML }}
            <article class="col-12 col-md-6">
                <div class="post-item">
                    <div class="post-title">
                        <h3 class="mt-0">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h3>
                    </div>
                    <div class="post-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item tag tag{{ .Params.linkType }}">
                                {{ .Params.linkTypeName }}
                            </li>
                            <li class="list-inline-item">
                                {{ .Params.author }}
                            </li>
                        </ul>
                    </div>
                    <div class="post-content">
                        <p>{{ .Summary }}</p>
                    </div>
                    <a class="btn btn-main" href="{{ .Params.link }}">{{ .Params.cta }}</a>
                </div>
            </article>
            {{ "<!-- /single resource -->" | safeHTML }}
            {{ end }}
            <!-- <div class="col-12 text-center">
                {{ template "_internal/pagination.html" . }}
            </div> -->
        </div>
    </div>
</section>
{{ "<!-- Blog Section End -->" | safeHTML }}

{{ partial "footer.html" . }}